<% content_for :header do %>
    <h1 class="docs header"><a href="/">Open Accessories Manager</a></h1>
<% end %>

<%= form_tag '/assign', :class => 'panel' do %>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Employee ID</label>
      </div>
      <div class="small-9 columns">
        <%= text_field_tag :employee_id, params[:employee_id], :placeholder => 'Employee ID' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Asset Barcode</label>
      </div>
      <div class="small-9 columns">
        <%= text_field_tag :asset_bar_code, params[:asset_bar_code], :placeholder => 'Scan Asset Barcode' %>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns">
        <label for="right-label" class="right inline">Assign to Project</label>
      </div>
      <div class="small-9 columns">
        <%= select_tag 'project_id', options_from_collection_for_select(@projects, :id, :name), :prompt => 'No Project (for individuals)' %>
      </div>
    </div>
    <div class="row">
      <div class="small-4 columns text-center">
        <input type="submit" name="submit" class="button" value="Return">
      </div>
      <div class="small-4 columns text-center">
        <input type="submit" name="submit" class="button" value="Assign to Project">
      </div>
      <div class="small-4 columns text-center">
        <input type="submit" name="submit" class="button" value="Assign to Yourself">
      </div>
    </div>
<% end %>
