<% content_for :header do %>
    <h1 class="docs header"><a href="/">Accessory for innovation Dashboard</a></h1>
<% end %>

<ul class="pricing-table">
  <% @assets.each do |asset| %>
    <li class="bullet-item">
      <%= asset.asset_type.name %>
      -
      <% if asset.owner %>
        <%= asset.owner.name %>
      <% else %>
        <span class="success label">In Stock</span>
      <% end %>
    </li>
  <% end %>
</ul>

